<h2>New Contact</h2>

<!-- Angular uses name property of form to make the object available in $scope -->
<!-- novalidate turns off native browser validation, because we want Angular validation instead -->
<form name="newContact" novalidate class="form-horizontal">

  <!-- Future lesson will create directives to allow user to edit inputs in a more intelligent way -->

  <div class="row form-group">
    <div class="col-sm-offset-2">
      <button class="btn btn-primary" ng-click="save()">Create Contact</button>
    </div>
  </div>

</form>